extends layout

block content
  div.twitter
  div.right
    div.clock
      div.time
      div.day
    div.pretwitter2 Orgatweets
    div.twitter2
  script(src='jquery-2.1.1.min.js')
  script(src='moment-with-langs.min.js')
  script(src='socket.io/socket.io.js')
  script(src='client.js')
