body {
  background-color: #202020;
  color: #ffffff;
  font-family: Arial;
  overflow: hidden;
}

div.right {
  float:left;
  width: 50%;
}

div.clock {
  border-radius: 4px;
  background-color: #333333;
  padding: 10px;
  margin-bottom: 10px;
}

div.clock .time {
  font-size: 50px;
  text-align: center;
}

div.clock .day {
  font-size: 20px;
  text-align: center;
}

div.irc {
  border-radius: 4px;
  background-color: #333333;
  padding: 10px;
}

div.pretwitter2 {
  font-family: monospace;
  margin: 10px;
  font-size: 14px;
}

div.irc .ircmessage {
  margin-bottom: 5px;
  font-family: monospace;
}

div.twitter2 {
  float: right;
  width: 100%;
  font-size: 20px;
}

div.twitter {
  float: left;
  width: 50%;
  font-size: 20px;
}

div.twitter .tweet, div.twitter2 .tweet {
  position: relative;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px;
  background-color: #333333;
  border-radius: 4px;
}

div.twitter .tweet .profile, div.twitter2 .tweet .profile {
  position: absolute;
}

div.twitter .tweet .time, div.twitter2 .tweet .time {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
}

div.twitter .tweet .name, div.twitter2 .tweet .name {
  color: #989898;
  margin-bottom: 5px;
  margin-right: 100px;
}

div.twitter .tweet .name, div.twitter .tweet .text, div.twitter2 .tweet .name, div.twitter2 .tweet .text {
  margin-left: 60px;
}

div.twitter .tweet .text a, div.twitter2 .tweet .text a {
  color: #ffffff;
  text-decoration: none;
}

div.twitter .tweet .text a:hover, div.twitter2 .tweet .text a:hover {
  color: #989898;
}

div.twitter .tweet .image, div.twitter2 .tweet .image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10px;
}
